@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-position: center;
}
.head {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 200px;
}
nav ul{
    display: flex;
    list-style:none;
}
nav ul li{
    display: inline-block;
    margin: 0px 30px;
    margin-top: 20px;
}
nav ul li a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
}
nav ul li a:hover {
    color: red;
    text-decoration: underline;
}
.head-btn {
    margin-top: 20px;
}
.login-btn {
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    color: black;
    margin-right: 20px;
}
.login-btn:hover{
    color: blue;
}

.download-btn {
    text-decoration: none;
    background: linear-gradient(to right, rgb(237, 48, 234), rgb(120, 10, 145));
    color: white;
    font-weight: bolder;
    font-size: 18px;
    padding: 20px 50px;
    border-radius: 40px 0px 40px 40px
}
.download-btn:hover{
    background: transparent;
    color: blue;
    text-decoration: underline;
}
.body-section {
    display: flex;
    gap: 5%;
}
.left-content {
    margin-left:100px;
    /* border: 1px solid blue; */
    width: 50%;
    margin-top: 100px;
}
.left-tittle {
    font-size: 8rem;
    width: 100%;
    line-height: 1.7;
    font-family: "Montserra", sans-serif;
}
.left {
    font-size: 20px;
    font-family: poppins, sans-serif;
    margin-bottom: 8%;
}
.join-btn {
    text-decoration: none;
    background: linear-gradient(to right, rgb(237, 48, 234), rgb(120, 10, 145));
    color: white;
    font-weight: bolder;
    font-size: 20px;
    padding: 20px 90px;
    border-radius: 40px 0px 40px 40px;
}
.join-btn:hover {
    background: none;
    color: red;
    text-decoration: underline;
}
.right-content {
    width: 50%;
    position: relative;
}
.right-img {
    width: 81%
}
.right-content .subscribe-btn {
    text-align: right;
    background-color: red;
    padding: 5px 10px;
    color: white;
    font-weight: 900;
    margin-bottom: 10px;
}